<div class="fixed top-0 left-0 w-[370px] h-[950px] bg-fuchsia-950">

<img src="../../assets/Screenshot from 2023-04-02 19-53-04.png" alt="">
<button routerLink="/home"  class="relative left-24 hover:cursor-pointer"><img src="../../assets/Screenshot from 2023-04-02 21-32-13.png" alt=""></button>
<button routerLink="/shope" class="relative left-[-30px] top-20 hover:cursor-pointer"><img src="../../assets/Screenshot from 2023-04-02 21-34-59.png" alt=""></button>
<button routerLink="/un" class="relative left-[95px] top-20 hover:cursor-pointer"><img src="../../assets/Screenshot from 2023-04-02 21-44-21.png" alt=""></button>
<button routerLink="/blog" class="relative left-[-35px] top-40 hover:cursor-pointer"><img src="../../assets/Screenshot from 2023-04-02 21-46-53.png" alt=""></button>
<button routerLink="/contact" class="relative left-[75px] top-40 hover:cursor-pointer"><img src="../../assets/Screenshot from 2023-04-02 21-47-16.png" alt=""></button>
<div class="fixed top-[0px] left-[370px] h-[41px] w-[1550px] bg-red-600">
  <h1 class="absolute left-[600px] top-3 font-bold text-blue-900 text-base">Free shipping on orders over $50</h1>
</div>
</div>
