<div class="absolute left-[370px] overflow-x-hidden w-[1570px] ">
  <div class="fixed left-[370px] h-[41px] w-[1540px] bg-red-600">
    <h1 class="relative left-[600px] top-3 font-bold text-blue-900 text-base">Free shipping on orders over $50</h1>

  </div>
  <img class="w-[1570px] h-[850px]" src="../../assets/Screenshot from 2023-04-02 21-58-41.png" alt="">
<img class="w-[1550px] h-[850px]" src="../../assets/Screenshot from 2023-04-02 22-10-16.png" alt="">
<button class="relative top-[-236px] left-24 w-[150px] h-[50px] bg-transparent cursor-pointer"></button>
</div>
<div class="absolute left-[370px] top-[1700px] ">
  <div class="w-[1550px] h-[750px]  bg-pink-500">
    <img class="relative left-[-03px]" src="../../assets/Screenshot from 2023-04-03 10-47-22.png" alt="">
    <div class="flex">

  <img class="relative left-[140px] hover:rotate-[30deg] cursor-pointer" src="../../assets/63b9186c1ee9c619c8261300_pr-01.png" alt="">
  <img class="relative left-[280px] hover:rotate-[30deg] cursor-pointer"  src="../../assets/63b917c57ee4c7aaf9df9294_pr-02.png" alt="">
  <img class="relative left-[420px] hover:rotate-[30deg] cursor-pointer" src="../../assets/63b9173b944baf6a2f8b877e_pr-03.png" alt="">
  <img class="relative left-[560px] hover:rotate-[30deg] cursor-pointer" src="../../assets/63b526e055c4815519bf5319_pr-04.png" alt="">
</div>
<div class="flex relative top-4 text-[30px] left-[60px]">
  <div ></div>
  <h1 class="font-extrabold relative left-14">Lemon Juice <br> (12 Pack)</h1>
  <h1 class=" relative top-1 text-[30px] font-extrabold left-[280px]">Strawbery Juice <br> (12 Pack)</h1>
  <h1 class=" relative top-1 text-[30px] font-extrabold left-[380px]">Orange Juice <br> (12 Pack)</h1>
  <h1 class=" relative top-1 text-[30px] font-extrabold left-[530px]">Watermelon Juice <br> (12 Pack)</h1>
</div>
</div>
<div class="absolute left-0 top-[735px] h-[850px] w-full bg-yellow-100 ">
  <div>
    <img class="w-20 relative top-28 left-64 rotate-[-20deg]" src="../../assets/63b917c57ee4c7aaf9df9294_pr-02.png" alt="">
    <img class="w-20 relative top-36 left-28 rotate-[-10deg]" src="../../assets/63b526e055c4815519bf5319_pr-04.png" alt="">
    <img class="w-20 relative top-14 left-80 rotate-[20deg]" src="../../assets/63b55b932d2daef86b979596_cat-03.png" alt="">
    <img class="w-20 relative top-[-270px] left-[1100px] rotate-[-10deg]" src="../../assets/63b917c57ee4c7aaf9df9294_pr-02.png" alt="">
    <img class="w-20 relative top-[-520px] left-[1350px] rotate-[30deg]" src="../../assets/63b9186c1ee9c619c8261300_pr-01.png" alt="">
    <img class="w-20 relative top-[-470px] left-[1350px] rotate-[-30deg]" src="../../assets/63b9173b944baf6a2f8b877e_pr-03.png" alt="">


  </div>
<div class="relative top-[-800px] ml-[570px] mb-[1200px] w-[500px]">
  <h1><img src="../../assets/Screenshot from 2023-04-03 12-23-45.png" alt=""></h1>
  <h1><img src="../../assets/Screenshot from 2023-04-03 12-23-57.png" alt=""></h1>
  <h1><img src="../../assets/Screenshot from 2023-04-03 12-24-13.png" alt=""></h1>
  <h1><img src="../../assets/Screenshot from 2023-04-03 12-51-22.png" alt=""></h1>
  <h1><img src="../../assets/Screenshot from 2023-04-03 12-37-24.png" alt=""></h1>
  <button class="ml-[120px] mt-[40px] w-24 bg-pink-600 cursor-pointer">Shop All</button>
<div class="absolute ml-[-420px] mt-[100px] h-[16rem] w-[1280px]">
  <img  src="../../assets/Screenshot from 2023-04-03 13-03-02.png" alt="">
</div>
<div class="relative top-80 w-[1600px] h-[800px] left-[-570px]">
<img class="relative h-[600px] w-[1550px]"  src="../../assets/Screenshot from 2023-04-03 19-59-10.png" alt="">
<img class="relative  w-[300px] top-[-450px] left-20" src="../../assets/63b65dcb6e90d8519a7bc438_action-01 (2).png" alt="">
<div class="relative top-[-780px] left-[910px] h-[230px] w-[510px] rounded-3xl bg-white">
  <img class="relative top-[5px] left-3 rounded-xl" src="../../assets/Screenshot from 2023-04-04 04-37-46.png" alt="">
<button class="bg-rose-400 relative left-52 hover:bg-orange-400 hover:text-gray-500 cursor-pointer w-32 h-10 rounded-xl">Shop Now</button>
</div>
</div>
<div class="relative top-[120px] left-[-570px] h-[480px] w-[1840px] bg-yellow-100 ">
  <img src="../../assets/Screenshot from 2023-04-04 05-12-00.png" alt="">
<div class="transform translate-x-4 overflow-x-hidden">
  <img src="../../assets/Screenshot from 2023-04-04 05-15-18.png" alt="">
<img class="relative top-[-310px] left-[1380px]" src="../../assets/Screenshot from 2023-04-04 06-15-58.png" alt="">
</div>
</div>
<div class="relative top-[120px] left-[-570px] h-[430px] w-[1580px] flex items-stretch bg-lime-500">
  <!-- <img class="" src="../../assets/Screenshot from 2023-04-04 06-33-17.png" alt=""> -->
  <h1 class="relative left-14 top-0 text-green-950 font-sans  font-bold text-5xl" >Stay Connected</h1>
<img class="relative top-28 left-[-240px] w-[270px] h-[270px] rounded-3xl" src="../../assets/63b69915eb475a5e39052519_insta -01.jpg" alt="">
<img class="relative top-28 left-[-200px] w-[270px] h-[270px] rounded-3xl" src="../../assets/63b699158457f7c89613cfbb_insta-02 (1).jpg" alt="">
<img class="relative top-28 left-[-160px] w-[270px] h-[270px]  rounded-3xl" src="../../assets/63b6991692188e96a0787da7_insta-03 (1).jpg" alt="">
<img class="relative top-28 left-[-120px] w-[270px] h-[270px]  rounded-3xl" src="../../assets/63b69916150d753d748b7bbc_insta-05.jpg" alt="">
<img class="relative top-28 left-[-80px] w-[270px] h-[270px] rounded-3xl" src="../../assets/63b6991689ebb437f7408b07_insta-04.jpg" alt="">
</div>
<div class="relative top-[7.5rem] left-[-570px] h-[500px] w-[1580px] bg-rose-200">
  <div class="relative left-20 top-48 w-[650px] h-64 bg-rose-600 rounded-3xl">
    <img class="relative top-[-100px] left-24 w-[160px]" src="../../assets/63b9186c1ee9c619c8261300_pr-01.png" alt="">
<p class="text-sm relative top-[-290px] left-[530px]">100% Natural</p>
<h2 class="text-4xl text-blue-950 relative top-[-290px] left-[360px]">New Fresh Fruit </h2>
<h2 class="text-4xl text-blue-950 relative top-[-290px] left-[530px]">Juice</h2>
<p class="relative top-[-250px] left-[350px] text-xs">Started several mistakes but joy says the painful</p>
<p class="relative top-[-250px] left-[376px] text-xs"> removal reached the end. State burst think.</p>
<button class="relative left-[450px] top-[-230px] text-violet-700 bg-yellow-400 w-40 h-9 rounded-2xl cursor-pointer hover:bg-red-400 hover:text-white">View Product</button>
  </div>
  <div class="relative left-[810px] top-[-70px] w-[650px] h-64 bg-yellow-300 rounded-3xl">
    <img class="relative top-[-100px]  left-24 w-[160px]" src="../../assets/63b9173b944baf6a2f8b877e_pr-03.png" alt="">
    <p class="text-sm relative top-[-290px] left-[530px]">100% Natural</p>
    <h2 class="text-4xl text-blue-950 relative top-[-290px] left-[270px]">New Fresh Fruit Juice</h2>
    <p class="relative top-[-250px] left-[350px] text-xs">Started several mistakes but joy says the painful</p>
    <p class="relative top-[-250px] left-[376px] text-xs"> removal reached the end. State burst think.</p>
    <button class="relative left-[450px] top-[-230px] text-white bg-violet-700 w-40 h-9 rounded-2xl cursor-pointer hover:bg-red-400 hover:text-gray-600">View Product</button>
  </div>
</div>
</div>
</div>
<div class="relative top-[2830px] h-[600px] w-[1580px] bg-orange-400">
  <input type="text" class=" relative top-20 left-20  bg-yellow-200 w-[750px] h-8 rounded-full text-sm" placeholder="Enter your Email">
  <button class="bg-violet-950 h-7 w-24 rounded-full relative top-20 left-[-20px] cursor-pointer hover:bg-red-700">Submit</button>
  <h1 class="relative text-blue-950 left-[900px] top-12 text-9xl font-extrabold">KIZZY</h1>
  <h1 class="relative left-24 font-bold text-2xl">Pages</h1>
  <p class="relative left-24 top-5 text-blue-950 text-xs hover:text-green-600 cursor-pointer">Home</p>
  <p class="relative left-24 top-8 text-blue-950 text-xs hover:text-green-600 cursor-pointer">About Us</p>
  <p class="relative left-24 top-11 text-blue-950 text-xs hover:text-green-600 cursor-pointer">Shop</p>
  <p class="relative left-24 top-14 text-blue-950 text-xs hover:text-green-600 cursor-pointer">Contact Us</p>
  <p class="relative left-24 top-16 text-blue-950 text-xs hover:text-green-600 cursor-pointer">Blog</p>
  <p class="relative left-24 top-[75px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">FAQs</p>
  <p class="relative left-24 top-[85px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Privacy Policy</p>

 <p class="relative left-72 top-[-92px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Style Guide</p>
  <p class="relative left-72 top-[-81px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Industruction</p>
  <p class="relative left-72 top-[-69px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Licenses</p>
  <p class="relative left-72 top-[-57px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Changelog</p>
  <p class="relative left-72 top-[-47px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Password Protected</p>
  <p class="relative left-72 top-[-36px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Error 404</p>
  <p class="relative left-72 top-[-26px] text-blue-950 text-xs hover:text-green-600 cursor-pointer">Under Maintenance</p>

  <h1 class="relative bottom-64 left-[550px] font-bold text-blue-950 text-2xl ">Social Media</h1>
  <button class="relative  bottom-[250px] left-[530px] h-9 w-10 bg-yellow-400 hover:bg-slate-600  rounded-md"><img class="w-5 relative left-3" src="../../assets/facebook-new.png" alt=""></button>
  <button class="relative  bottom-[250px] left-[550px] h-9 w-10 bg-green-600 hover:bg-slate-600 rounded-md"><img class="w-5 relative left-3" src="../../assets/twitter.png" alt=""></button>
  <button class="relative  bottom-[250px] left-[570px] h-9 w-10 bg-rose-500 hover:bg-slate-600 rounded-md"><img class="w-5 relative left-3" src="../../assets/instagram-new.png" alt=""></button>
  <button class="relative  bottom-[250px] left-[590px] h-9 w-10 bg-yellow-400 hover:bg-slate-600 rounded-md"><img class="w-5 relative left-3" src="../../assets/youtube-play.png" alt=""></button>

<img class="relative left-[1100px] bottom-[155px] w-80" src="../../assets/63be3dc817f71c3d7835e05d_footer-01 (1).png" alt="">
</div>
</div>
